<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <style>
        #logo-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
        }
        .bt-nav-0{
            font-size: 18px;
            padding: 5px;
        }
        #desc-studyware{
            font-size: 18px;
            width: 280px;
        }
    </style>
</head>
<body>
    <div id="logo-container">
    <img src="../static/images/studyware_logo.png" alt="" width=100>
    <h1>Studyware</h1>
    </div>
    <div id="nav">
        <button id="bt-inicio" class="bt-nav-0">Início</button>
        <button id="bt-meus-projetos" class="bt-nav-0">Meus Projetos</button>
        <button id="bt-sobre" class="bt-nav-0">Sobre</button>
    </div>
    <p id="desc-studyware">Studyware é uma plataforma onde você pode 
        planejar os seus trabalhos acadêmico e escolares de maneira acessível e inteligente.</p>
    <script src="../static/js/index.js"></script>
</body>
</html>